.personContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  color: #FFFFFF;
}

.footer { 
  margin: 10px 0px;
}

.address {
  display: flex;
  flex-direction: column;
  color: #9BD4F5;
}