.personContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  color: #FFFFFF;
}

.address {
  display: flex;
  flex-direction: column;
}